.input {
    padding: 10px 15px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 50px;
    margin: 0 10px;
    outline-width: 2px;
    outline-color:rgb(140, 140, 140);
}

.errorInput {
    border: 2px solid rgb(255, 0, 0);
    outline-width: 2px;
    outline-color:rgb(255, 0, 0);
}

.submitBtn {
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.submitBtn:hover {
    background-color: rgb(215, 215, 215);
}

.submitBtn:active {
    background-color: rgb(200, 200, 200);
}

.disabledBtn {
    background-color: rgb(100, 100, 100);
    cursor: not-allowed;
}

.submitBtnShort {
    display: none;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    transition: .4s;
}

.searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1100px) and (min-width:651px) {
    .searchBarContainer {
        max-height: 35px;
        text-align: center;
    }
    .submitBtn {
        display: none;
    }
    .submitBtnShort {
        display: inline;
    }
    .submitBtn:hover{
        background-color: #fff;
    }
}

@media screen and (max-width:650px) {
    .searchBarContainer{
        position: relative;
        left: 50px;
    }
    .submitBtn {
        display: none;
    }
    .input {
        outline-color: rgb(255 255 255);
        padding-right: 50px;
        width: 80%;
    }
    .submitBtnShort {
        display: inline-block;
        position: relative;
        right: 60px;
        width: 50px;
        border-radius: 120px;
        background: white;
        border: 1px solid white;
    }
}